Gallery_OLD
.vs
Gallery_NEW/packages
Gallery_NEW/Gallery.PL/obj
Gallery_NEW/Gallery.PL/bin
Gallery_NEW/Gallery.BLL/obj
Gallery_NEW/Gallery.BLL/bin
Gallery_NEW/Gallery.DAL/obj
Gallery_NEW/Gallery.DAL/bin
Gallery_NEW/Gallery.Worker/obj
Gallery_NEW/Gallery.Worker/bin
Gallery_NEW/Gallery.MsgQueue/obj
Gallery_NEW/Gallery.MsgQueue/bin
Gallery_NEW/Gallery.PL/logs
Gallery_NEW/Gallery.DAL/DataBase
Gallery_NEW/Gallery.PL/Upload
Gallery_NEW/FileStorageProvider/obj
Gallery_NEW/FileStorageProvider/bin
