<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования web.config см. на странице https://go.microsoft.com/fwlink/?LinkId=125889. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--<add key="MSMQ:paths" value=".\private$\MQ" />-->
    <add key="MQ:upload-image" value="staging-upload-image" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="MQ:upload-mp3" value="staging-upload-mp3" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="MQ:upload-mp4" value="staging-upload-mp4" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
</configuration>