@if (User.Identity.IsAuthenticated)
{
    var userEmail = (string) ViewData["UserEmail"];
    <li>@Html.ActionLink(userEmail, "Index")</li>
    <li>@Html.ActionLink("Sign Out", "Logout", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Sign In", "Login", "Account")</li>
    <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>
}

