@using Gallery.BLL
@using Gallery.DAL
@using Gallery.DAL.Model
@{
    IUsersService _usersService = new UsersService(new UsersRepository(new UserContext()));
}
@if (User.Identity.IsAuthenticated)
{
    <li>@Html.ActionLink(_usersService.GetUserId("Zolottse").ToString(), "Index")</li>
    <li>@Html.ActionLink("Sign Out", "Logout", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Sign In", "Login", "Account")</li>
    <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>
}

