<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--<add key="MSMQ:paths" value=".\private$\MQ" />-->
    <add key="MQ:upload-image" value="staging-upload-image" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="MQ:upload-mp3" value="staging-upload-mp3" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="MQ:upload-mp4" value="staging-upload-mp4" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
</configuration>